body {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: #D5D5D5;
}

footer {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2.5rem;
}
