.inventory-list-container {
    background-color: white;
    border-radius: 17px;
    padding: 6px;
}

.heading {
    font-size: 120%;
    justify-content: center;
    padding-bottom: 10px;
}

.column-heading {
    text-align: center;
    padding: 0 0 6px 0;
    font-size: 110%;
}

.col {
    text-align: center;
    padding: 0.7rem;
}