.search-container {
    background-color: white;
    border-radius: 17px;
    padding: 6px;
    margin-bottom: 20px;
}

.heading {
    font-size: 120%;
    justify-content: center;
}

.column-heading {
    text-align: center;
    padding: 0 0 6px 0;
    font-size: 110%;
}

.col {
    text-align: center;
    padding: 0.5rem;
}

.search-form {
    padding: 10px;
}